h1
{
color:yellow;
background-color:red;
}

h3
{
color:yellow;
background-color:red;
}

body
{
background-color:skyblue;
margin:0
}

table
{
width:40%;
height:50%
}

.roundbtn
{
background-color:#46a45f;
color:#BECFC2;
font-weight:bold;
font-size:20px;
width:100%; 
height:60%;
cursor:pointer
}

.roundbtn:hover
{
background-color:#11922b;
}

footer {
    position: fixed;
    bottom: 0;
    width:100%;
    height:fit-content;
    text-align: center;

    background-color: #7caa78de;
    font-size:95%;
  }



.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal {
  width: 320px;
  height: 180px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  text-align: center;
}

.hidden {
  display: none;
}
